<link rel="stylesheet" href="../style/checkout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div id="mainCheckout">
  <p class="checkoutTitle">Enter Your delivery address</p>
  <div class="row">
    <div class="col-md-12">
      <label for="mail" class="checkTitles">Email*</label>
      <input type="email" class="longInputs" id="mail">

      <label for="confirmmail" class="checkTitles">confirm email*</label>
      <input type="email" class="longInputs" id="confirmmail">

      <label for="country" class="checkTitles">Country*</label>
      <input type="text" class="longInputs" id="country">

      <label for="fullName" class="checkTitles">Full Name*</label>
      <input type="text" class="longInputs" id="fullName">

      <div class="addressInp">
        <div class="addrInpitems">
          <label for="street" class="checkTitles">Street address*</label>
          <input type="text" class="longInputs" id="street">
        </div>
        <div class="addrInpitems">
          <label for="optional" class="checkTitles">Flat / Other (optional)</label>
          <input type="text" class="longInputs" id="optional">
        </div>
      </div>

      <div class="pascalCode">
        <div class="postalitems">
          <label for="city" class="checkTitles">City*</label>
          <input type="text" class="shortInputs" id="city">
        </div>
        <div class="postalitems">
          <label for="cauntryOptionl" class="checkTitles">Country (optional)</label>
          <input type="text" class="shortInputs" id="cauntryOptional">
        </div>
        <div class="postalitems">
          <label for="postalCode" class="checkTitles">Postal code*</label>
          <input type="text" class="shortInputs" id="postalCode">
        </div>
      </div>

      <div class="chOutBtn">
        <button type="button">CONTINUE TO PAYMENT</button>
      </div>
    </div>
  </div>
 
</div>
