<link rel="stylesheet" href="../style/registrationForm.css">

<div class="regContainer">
  <form method="post" action="/login">
    <br />
    <div class="inputBox">
      <img src="/image/3.png" style="width: 130px; height: 110px;">
      <h4>Sign up</h4>
      <p>Please, Sign Up to continue</p>
      <input class="regName" type="text" name="userName" required placeholder="Enter name">
      <input class="regPassword" type="password" name="userPassword" required placeholder="Enter password">
      <button class="regBtn" type="submit">Continue</button>
    </div>
  </form>
</div>
